force-app/main/default/flows/UpdateAccountExternalId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check if the contact&apos;s account has changed</description>
        <name>checkAccount</name>
        <label>Has the contact&apos;s account changed?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>hasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account.ExternalId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAccountExternalId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Link external account id to the contact.</description>
    <interviewLabel>Update account external id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update account external id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Stores the external id of the related account.</description>
        <name>UpdateAccountExternalId</name>
        <label>Update account external id</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>AccountExternalId__c</field>
            <value>
                <elementReference>$Record.Account.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkAccount</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
